.banner {
  display: flex;
  height: 75vh;
  justify-content: center;
  background-image:
    linear-gradient(180deg, var(--preto-60), var(--preto-60)),
    url(../../../assets/fundos/giphy-picos.webm);
  background-position: top center;
  background-size: cover;
}

.banner__conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  color: var(--branco);
  margin-bottom: 5rem;
}

.banner__imagem {
  height: 25rem;
  width: auto;
  margin-bottom: 2.5rem;
}

.banner__prefixo {
  font-size: 2rem;
}

.banner__titulo {
  font-size: 3.6rem;
  font-weight: 600;
  margin: 1rem 0;
}

.banner__subtitulo {
  font-size: 2.4rem;
  font-weight: 400;
  margin: 0 0 1rem 0;
}

@media screen and (min-width: 1024px) {
  .banner {
    height: 90vh;
  }

  .banner__imagem {
    height: 35vh;
  }
}