.bloco {
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 5rem 3rem 0 3rem;
}

.bloco-alt {
  padding: 0;
}

.bloco__titulo {
  border-radius: .5rem;
  color: var(--branco);
  display: inline-block;
  font-size: 3.2rem;
  font-weight: 400;
  margin: 0 auto 3rem auto;
  padding: 1rem 2rem;
  text-align: center;
  transition: transform .6s ease-in-out;
  font-weight: bold;
}

.bloco__titulo--alt {
  color: var(--cor-principal);
}

.bloco__titulo:hover {
  transform: scale(1.1);
}

.bloco__divisao {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  color: var(--branco);
}

.bloco__textos {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 3rem;
}

.bloco__txt {
  font-size: 2rem;
  line-height: normal;
}

.bloco__link {
  border-bottom: .1rem solid var(--cor-principal);
  color: var(--branco);
  font-size: inherit;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}

.bloco__link:hover {
  background-position-y: 0%, 100%;
}

.bloco__link::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--cor-principal);
  z-index: -1;
  transition: top .3s;
}

.bloco__link:hover::before {
  top: 0;
}

@media screen and (min-width: 768px) {
  .bloco__imagem {
    margin: 0 auto;
    width: 50vw;
    height: auto;
  }
}

@media screen and (min-width: 1024px) {
  .bloco {
    padding: 6rem 3rem 0 3rem;
  }

  .bloco__divisao {
    flex-direction: row;
    align-items: center;
  }

  .bloco__imagem {
    flex: 1;
    width: auto;
    height: 45rem;
  }
}