.contatos {
  /* background-image: 
  linear-gradient(120deg, var(--preto-20), var(--preto-20)),
  url(../../../assets/fundos/giphy-vortex.gif);
  background-size: cover; */
  padding: 5rem 3rem;
}

.contatos__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  color: var(--branco);
}

.contatos__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(.5rem);
  border-radius: 0.5rem;
  gap: 1.5rem;
  width: 25rem;
}

.contatos__icone {
  width: 7.5rem;
  height: 7.5rem;
  object-fit: contain;
}

.contatos__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.contatos__titulo {
  font-size: 2.8rem;
  font-weight: lighter;
}

.contatos__link {
  color: var(--branco);
  font-size: 2rem;
}